<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pm">
            <h2><span>Pm</span> {{pm.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{pm.libelle}}</span>
                </dd>
                <dt><span>Unite</span></dt>
                <dd>
                    <span>{{pm.unite}}</span>
                </dd>
                <dt><span>Avoirplanprevetinf</span></dt>
                <dd>
                    <span>{{pm.avoirplanprevetinf}}</span>
                </dd>
                <dt><span>Equipement</span></dt>
                <dd>
                    <div *ngIf="pm.equipementId">
                        <a [routerLink]="['/equipement', pm.equipementId, 'view']">{{pm.equipementId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pm', pm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
