<div>
    <h2 id="page-heading">
        <span>Utilisateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utilisateur" [routerLink]="['/utilisateur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Utilisateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="utilisateurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomresponsable"><span>Nomresponsable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenomresponsable"><span>Prenomresponsable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="role"><span>Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipeId"><span>Equipe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utilisateur of utilisateurs ;trackBy: trackId">
                <td><a [routerLink]="['/utilisateur', utilisateur.id, 'view' ]">{{utilisateur.id}}</a></td>
                <td>{{utilisateur.nomresponsable}}</td>
                <td>{{utilisateur.prenomresponsable}}</td>
                <td>{{utilisateur.role}}</td>
                <td>
                    <div *ngIf=" utilisateur.equipeDtoid && utilisateur.equipeDtoid.id">
                        <a [routerLink]="['../equipe', utilisateur.equipeDtoid.id , 'view' ]" >{{utilisateur.equipeDtoid.nomequipe}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'utilisateur', { outlets: { popup: utilisateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="utilisateurs && utilisateurs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
