<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planprevetinf">
            <h2><span>Planprevetinf</span> {{planprevetinf.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Descriptionplan</span></dt>
                <dd>
                    <span>{{planprevetinf.descriptionplan}}</span>
                </dd>
                <dt><span>Equipement</span></dt>
                <dd>
                    <div *ngIf="planprevetinf.equipementId">
                        <a [routerLink]="['/equipement', planprevetinf.equipementId, 'view']">{{planprevetinf.equipementId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planprevetinf', planprevetinf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
